<config>
  <!-- Client Control -->
  <fold-anon v='true'/>

  <!-- Folding Slot Configuration -->
  <gpu v='true'/>

  <!-- HTTP Server -->
  <allow v='0/0'/>

  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <user v='Anonymous'/>
  <team v='253363'/>

  <!-- Web Server -->
  <web-allow v='0/0'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
  <slot id='1' type='GPU'/>
</config>